{% extends 'base.html' %}

{% block content %}
  <h2>Upload Successful</h2>
  <p>Your file has been successfully uploaded and processed.</p>

  <h3>Select a Column to Display</h3>
  <form method="post" action="{% url 'display_visualization' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="selected_column_name" value="{{ selected_column_name }}">

    <label for="{{ form_visualization.column_name.id_for_label }}">Select a Column:</label>
    {{ form_visualization.column_name }}

    <label for="{{ form_visualization.visualization_type.id_for_label }}">Select a Visualization Type:</label>
    {{ form_visualization.visualization_type }}

    <button type="submit">Display Column</button>
  </form>
  {% if selected_column_name %}
    <h2>Graph for Column: {{ selected_column_name }}</h2>
    {% if graph_file_path %}
        <img src="{% load static %}{% static 'graphique.png' %}" alt="Graphique de la colonne sélectionnée">
    {% else %}
        <p>Aucun graphique disponible.</p>
    {% endif %}
  {% else %}
    <p>Aucune colonne sélectionnée.</p>
  {% endif %}
{% endblock %}
